<p class="mg-lg">
    <h1><%= page_title %></h1>
</p>
<%= form_for gallery, url: gpath do |f| %>
    <div class="row">
        <div class="col-sm-6">
            <%= f.label :title, "標題", for:"upload_title" %>
            <p class="mg-lg">
                <%= f.text_field :title, class:"form-control", id:"upload_title", placeholder:"Title" %>
            </p>
            <%= f.label :description, "描述", for:"Descripe" %>
            <p class="mg-lg">
                <%= f.text_area :description, class:"form-control", rows:"5", id:"Descripe", placeholder:"Descripe" %>
            </p>
            <div class="form-group">
                <%= f.label :photo, "相片" %>
                <%= f.file_field :photo, class:"form-control-file", onchange: "readURL(this);", id:"upload_image" %>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="Preview">預覽</label>
                <p class="mg-lg">
                    <% if gallery.photo.url %>
                    <%= image_tag gallery.photo, class:"img-responsive center-block", id:"preview" %>
                    <% else %>
                    <%= image_tag "placeholder-image.png", class:"img-responsive center-block", id:"preview" %>
                    <% end %>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="text-right marginButton">
                <%= f.submit submit_title, class:"btn btn-d btn-lg" %>
                <% if gallery.photo.url %>
                <%= link_to "刪除", user_gallery_path(id: gallery.id), method: "Delete", class:"btn btn-danger btn-d btn-lg", data: { confirm: "Are you sure?" } %>
                <% end %>
            </div>
        </div>
    </div>       
<% end %>
        