<!-- bloc-3 -->
<div class="bloc l-bloc bgc-white" id="bloc-3">
    <%= render "layouts/nav" %>
        <div class="container bloc-lg">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-center mg-md">
                        Gallery
                    </h2>
                    <p class="text-center sub-heading">
                        Just a sample of what we do.
                    </p>
                </div>
            </div>
            <%= @galleries.each_slice 4 do |a, b, c, d| %>
            <div class="row voffset">
                <% if a %>
                    <div class="col-sm-3">
                        <a href="#" data-lightbox="<%= a.photo.url %>" data-caption="<%= a.description %>" data-gallery-id="gallery-1"><img src="<%= a.photo.medium.url %>" class="img-responsive" /></a>
                        <div class="text-center">
                            <%= link_to a.title, new_user_gallery_path, class:"btn btn-block btn-sq btn-d" %>
                        </div>
                    </div>
                <% else %>
                    <div class="col-sm-3">
                    <a href="#" data-lightbox="<%= image_path 'placeholder-image.png' %>" data-caption="Image description" data-gallery-id="gallery-1"><img src="<%= image_path 'placeholder-image-sq.png' %>" class="img-responsive" /></a>
                    <div class="text-center">
                        <%= link_to "New photo", new_user_gallery_path, class:"btn btn-block btn-sq btn-d" %>
                    </div>
                    </div>
                <% end %>
                <% if b %>
                    <div class="col-sm-3">
                        <a href="#" data-lightbox="<%= b.photo.url %>" data-caption="<%= b.description %>" data-gallery-id="gallery-1"><img src="<%= b.photo.medium.url %>" class="img-responsive" /></a>
                        <div class="text-center">
                            <%= link_to b.title, new_user_gallery_path, class:"btn btn-block btn-sq btn-d" %>
                        </div>
                    </div>
                <% elsif a %>
                    <div class="col-sm-3">
                    <a href="#" data-lightbox="<%= image_path 'placeholder-image.png' %>" data-caption="Image description" data-gallery-id="gallery-1"><img src="<%= image_path 'placeholder-image-sq.png' %>" class="img-responsive" /></a>
                    <div class="text-center">
                        <%= link_to "New photo", new_user_gallery_path, class:"btn btn-block btn-sq btn-d" %>
                    </div>
                    </div>
                <% end %>
                <% if c %>
                    <div class="col-sm-3">
                        <a href="#" data-lightbox="<%= c.photo.url %>" data-caption="<%= c.description %>" data-gallery-id="gallery-1"><img src="<%= c.photo.medium.url %>" class="img-responsive" /></a>
                        <div class="text-center">
                            <%= link_to c.title, new_user_gallery_path, class:"btn btn-block btn-sq btn-d" %>
                        </div>
                    </div>
                <% elsif b %>
                    <div class="col-sm-3">
                    <a href="#" data-lightbox="<%= image_path 'placeholder-image.png' %>" data-caption="Image description" data-gallery-id="gallery-1"><img src="<%= image_path 'placeholder-image-sq.png' %>" class="img-responsive" /></a>
                    <div class="text-center">
                        <%= link_to"New photo", new_user_gallery_path, class:"btn btn-block btn-sq btn-d" %>
                    </div>    
                    </div>
                <% end %>
                <% if d %>
                    <div class="col-sm-3">
                        <a href="#" data-lightbox="<%= d.photo.url %>" data-caption="<%= d.description %>" data-gallery-id="gallery-1"><img src="<%= d.photo.medium.url %>" class="img-responsive" /></a>
                        <div class="text-center">
                            <%= link_to d.title, new_user_gallery_path, class:"btn btn-block btn-sq btn-d" %>
                        </div>
                    </div>
                <% elsif c %>
                <div class="col-sm-3">
                    <a href="#" data-lightbox="<%= image_path 'placeholder-image.png' %>" data-caption="Image description" data-gallery-id="gallery-1"><img src="<%= image_path 'placeholder-image-sq.png' %>" class="img-responsive" /></a>
                    <div class="text-center">
                        <%= link_to "New photo", new_user_gallery_path, class:"btn btn-block btn-sq btn-d" %>
                    </div>
                </div>
                <% end %>
            </div>
            <% end  %>
            <% if @galleries.count < 1 %>
            <div class="col-sm-3">
                <a href="#" data-lightbox="<%= image_path 'placeholder-image.png' %>" data-caption="Image description" data-gallery-id="gallery-1"><img src="<%= image_path 'placeholder-image-sq.png' %>" class="img-responsive" /></a>
                <div class="text-center">
                    <%= link_to "New photo", new_user_gallery_path, class:"btn btn-block btn-sq btn-d" %>
                </div>
            </div>
            <% end %>
        </div>
</div>
<!-- bloc-3 END -->
<style>
    .btn{
        border-radius: 0;
    }
    div.text-center{
        background-color: #47454b;
    }
</style>