<div class="container fill-bloc-top-edge">
    <nav class="navbar row">
        <div class="navbar-header">
            <%= link_to  "Inspiration", root_path, class: "navbar-brand"%>
                <button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
        </div>
        <div class="collapse navbar-collapse navbar-1">
            <ul class="site-navigation nav navbar-nav pull-right">
                <li>
                    <%= link_to  "首頁", root_path, class: "navbar-brand"%>
                </li>
                <% if current_user %>
                    <li>
                        <%= link_to  "藝廊", user_galleries_path(current_user) %>
                    </li>   
                    <li>
                        <%= link_to  "上傳", new_user_gallery_path(current_user) %>
                    </li>
                    <li>
                        <%= link_to "個人資料", edit_user_registration_path %>
                    </li>
                    <li>
                        <%= link_to "登出", destroy_user_session_path, method: "delete" %>
                    </li>
                    <% else %>
                        <li>
                            <%= link_to "登入", new_user_session_path %>
                        </li>
                        <li>
                            <%= link_to "註冊", new_registration_path(:user) %>
                        </li>
                <% end %>

            </ul>
        </div>
    </nav>
</div>